*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    width: 100%;
    height: 100%;
}

header{
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: hotpink; */
}
header h3{
    font-size: 1.4rem;
}

a{
    text-decoration: none;
    color: #595757;
    display: inline-block;
    font-size: 0.9rem;
    /* background-color: green; */
    margin-left: 200px;
}
header i {
    margin-left: 400px;
    font-size: 1.4rem;
    color: #595757;
}
.image-container{
    padding: 2px 20px;
}
/* .image-container img{
    height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    overflow: hidden;
} */