*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}
.container{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    min-height: 460px;
    width: 360px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: 1px 5px 15px #cac8c8;
    border-radius: 10px;
}

h2{
   position: relative;
   right: 103px;
   bottom: 10px;
   font-size: 30px;
   font-weight: 550;
}

p{
    position: relative;
    right: 18px;
    bottom: 15px;
    font-size: 15px;
    color: rgb(86, 77, 77);
}

#input1 input{
    position: relative;
    bottom: 10px;
    right: 50px;
    width: 150%;
    padding: 12px 10px;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
    border: 2px solid grey;
}


#input2 input{
    position: relative;
    bottom: 10px;
    right: 50px;
    width: 150%;
    padding: 12px 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid grey;
}
#pass{
    text-decoration: none;
    color: blue;
    font-weight: 600;
    position: relative;
    right: 85px;
    bottom: 5px;
    font-size: 15px;
}

#sign-in button{
    padding: 15px 130px;
    border-radius: 30px;
    border: none;
    background-color: rgb(16, 16, 189);
    color: #ffff;
    font-size:16px;
    cursor: pointer;
    margin-top: 15px;
    font-weight: 550;
}

#sign-in button:hover{
    background-color: rgb(58, 58, 223);
}
.seprator{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    margin-top: 15px;
}

.line{
    height: 2px;
    width: 125px;
    background-color: rgba(116, 91, 91, 0.301);
}

span:nth-child(2){
    font-size: 17px;
}

.apple{
    position: relative;
}
.apple i{
    position: relative;
    left: 77px;
    align-items: center;
    font-size: 20px;
}
.sign2{
    margin-top: 15px;
    padding: 14px 80px;
    border-radius: 30px;
    font-size: 16px;
    border: 2px solid grey;
    font-weight: 600;
    color:#423f3f;
    margin-right: 20px;
    background-color: #ffff;
    cursor: pointer;
}

.sign2:hover{
    background-color: rgb(221, 39, 69);
    color: white;
    border: none;
}